# Connection Strings
# Replace with your local or cloud PostgreSQL connection string
ConnectionStrings__DefaultConnection="Host=your_host; Database=your_db; Username=your_user; Password=your_password; SSL Mode=Require;"

# JWT Settings
Jwt__Issuer="IqamahServer"
Jwt__Audience="IqamahClient"
Jwt__SecretKey="your_super_secret_key_at_least_32_characters_long"
